{% extends "base.html" %}

{% block title %}Article{% endblock %}

{% block body %}
    <main class="container bg-white p-3 rounded">
        <h1>{{ article.title }}</h1>
        <hr>
        <div class="mt-2 d-flex align-items-center">
            <span class="ms-2 fw-bold">{{ article.author.username }}</span>
            <span class="ms-2 text-muted">Published in</span>
            <time class="ms-2 text-secondary"
                  datetime="{{ article.publish_time }}">{{ article.publish_time | date:"Y-m-d h:i" }}</time>
        </div>
        <hr>
        <div class="py-2">
            <h1 class="mb-3">Content</h1>
            {{ article.content|safe }}
        </div>
        <hr>
        <div class="mt-2">
            <h3>Review（10）</h3>
            <form action="" method="POST">
                <div class="mt-2">
                    <input type="text" class="form-control" name="comment" placeholder="Leave comment...">
                </div>
                <div class="text-end mt-2">
                    <button type="button" class="btn btn-primary">Publish Comment</button>
                </div>
            </form>
        </div>
        <div class="mt-2">
            <ul class="list-group list-group-flush">
                <li class="list-group-item mb-3">
                    <div class="d-flex justify-content-between text-body-secondary">
                        <div class="user-info">
                            <span class="ms-2">Reviewer</span>
                        </div>
                        <div class="create-time" style="line-height: 40px;">2025-01-13 14:45</div>
                    </div>
                    <div class="mt-2">Review Content</div>
                </li>
                <li class="list-group-item">
                    <div class="d-flex justify-content-between text-body-secondary">
                        <div class="user-info">
                            <span class="ms-2">Reviewer</span>
                        </div>
                        <div class="create-time" style="line-height: 40px;">2025-01-13 14:45</div>
                    </div>
                    <div class="mt-2">Review Content</div>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}