{% extends "base.html" %}
{% block title %}
    Register
{% endblock %}
{% block head %}
    <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>
    <script src="{% static "js/register.js" %}"></script>
{% endblock %}
{% block body %}
    <main class="container bg-white p-3 rounded">
        <div style="max-width: 330px;" class="m-auto">
            <h1>Register</h1>
            <form action="" method="POST">
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" placeholder="username">
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="email">
                </div>
                <div class="mb-3">
                    <label>Captcha</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="captcha" placeholder="captcha"
                               aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="captcha-btn">Get captcha</button>
                    </div>
                </div>

                <div class="mb-3">
                    <label>password</label>
                    <input type="password" name="password" class="form-control" placeholder="password">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary w-100">Register</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}