{% extends "base.html" %}
{% block title %}
    Write
{% endblock %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet"/>

{% endblock %}

{% block body %}

    <main class="container bg-white p-3 rounded">
        <h1>Write your article</h1>
        <div class="mt-3">
            <form action="" method="POST">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" name="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Category</label>
                    <select name="category" class="form-select">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Content</label>
                    <div id="editor">
                        <p>Hello World!</p>
                        <p>Some initial <strong>bold</strong> text</p>
                        <p><br/></p>
                    </div>
                </div>
                <div class="mb-3 text-end">
                    <button class="btn btn-primary">发布</button>
                </div>
            </form>
        </div>
    </main>

    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        const quill = new Quill('#editor', {
            theme: 'snow'
        });
    </script>
{% endblock %}
